torch==2.5.1
torch-geometric==2.7.0
numpy==2.2.6
scipy==1.15.2
scikit-learn==1.7.2
networkx==3.4.2
matplotlib==3.10.8
pandas==2.3.3
tqdm==4.67.1
torch-scatter==2.1.2+pt25cu121
torch-sparse==0.6.18+pt25cu121
torch-cluster==1.6.3+pt25cu121
torch-spline-conv==1.2.2+pt25cu121

